:root{ 
    --base: white;
    --fsize: 1rem;
} /* 사용자정의 속성 */

html{
    background: url('bg.jpg');
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 a{
    text-decoration: none;
    color: var(--base);
    
}

#logo{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
}

.inputbox
{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 20px;
    
}



#add_button{
    box-sizing: border-box;
    background-color: none;
    border: 1.5px var(--base) solid;
    height: 100%;
    background-color: transparent;
    color: var(--base);
}
#input_bar{
    box-sizing: border-box;
    border: 0;
   
    height: 100%;
    width: 220px;
}
.dolist{
    margin-top: 2rem;
    text-align: center;
    
}

.td_table{
    display: inline-block;
    text-align: center;
    color: var(--base);
    font-size: var(--fsize);

}
.action, .save{
    margin-top: 2rem;
    text-align: center;
}

.action input{
    background-color: transparent;
    color: var(--base);
    border: 1.5px var(--base) solid;
    font-family: Arial, Helvetica, sans-serif;
}
.save input{
    background-color: var(--base);
    color: black;
    border: 1.5px var(--base) solid;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-check{
    width: calc(var(--fsize)*0.9); /* calc는 변수를 계산할 수 있게 해줌 */
    height: calc(var(--fsize)*0.9);
}

.control{
    color: var(--base);
    margin-top: 2rem;
    text-align: center;
}
.trans{
    display: inline-block;
    margin-right: 4rem;
}
.col{
    position: relative;
    display: inline-block;
    bottom: 0.7rem;
}
#fsize{
    width: 100px;
}
#base{
    margin-left: 0.5rem;
}